<h1>Наше меню</h1>

<%#= link_to 'просмотр категорий', product_type_path %>

<%= link_to 'добавить категорию', new_product_type_path %>
<%#= link_to 'удалить', product_type_path, method: :delete, data: { confirm: 'Вы уверены?' } %>