<p>
  <strong>Название группы:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Создатель:</strong>
  <%= @group.user %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', root_path %>
