<p>
  <strong>Название группы:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Создатель:</strong>
  <%= @group.user %>
</p>

<% if current_user.id == @group.user_id %>
  <%= link_to 'Редактировать', edit_group_path(@group) %> |
<% end %>

<%= link_to 'Назад', root_path %>
