<h1>Просмотр сделанных мной заказов заказов</h1>

<div id="single-orders_table">
  <table class="table table-border table-hover">
    <thead>
      <tr>
        <th>ID заказа</th>
        <th>Заказчик</th>
        <th>Комментарии к заказу</th>
        <th>Стоимость, грн</th>
        <th></th>
      </tr>
    </thead>

  <!-- рендерим через партиал заказы -->
  <% if @orders %>
    <%= render partial: 'orders/order', collection: @orders, as: 'order' %>
  <% end %>
  </table>
</div>
<br/>
<%= link_to "Назад", store_index_path %>