<h3>Детализация по заказчикам</h3>

<div id="group-orders-table">
  <table class="table table-border table-hover table-striped">

    <%= render partial: 'group_orders_admin/order_by_users', collection: @pull_users, as: 'user' %>
  <tr>
    <th colspan="3"><h4>Итого</h4></th>
    <th><h4><%= my_number_to_currency(@group_order.price) %></h4></th>
  </tr>

  </table>
</div>