------------- меню администрирования -------------<br/>
<div class="btn-group" role="group">
  <%= link_to 'Управление меню',  product_types_path %> ||
  <%= link_to 'Заказы групповые', group_orders_admin_index_path  %> ||
  <%= link_to 'Заказы групповые', group_orders_admin_index_path  %>
</div> 